stages:
  - build
  - scan
  - deploy

variables:
  CONTAINER_BUILD_IMAGE: showcase-service-frontend
  CI_REGISTRY_DOMAIN: registry.citynow.vn
  CI_REGISTRY_PROJECT: qapp/dev/application

build:
  stage: build
  image: docker
  services:
    - docker:dind
  before_script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USERNAME --password-stdin $CI_REGISTRY_DOMAIN
  script:
    - docker build --pull -t $CI_REGISTRY_DOMAIN/$CI_REGISTRY_PROJECT/$CONTAINER_BUILD_IMAGE:$CI_COMMIT_SHORT_SHA-$CI_PIPELINE_ID .
    - docker tag $CI_REGISTRY_DOMAIN/$CI_REGISTRY_PROJECT/$CONTAINER_BUILD_IMAGE:$CI_COMMIT_SHORT_SHA-$CI_PIPELINE_ID $CI_REGISTRY_DOMAIN/$CI_REGISTRY_PROJECT/$CONTAINER_BUILD_IMAGE:latest
    - docker push $CI_REGISTRY_DOMAIN/$CI_REGISTRY_PROJECT/$CONTAINER_BUILD_IMAGE:$CI_COMMIT_SHORT_SHA-$CI_PIPELINE_ID
    - docker push $CI_REGISTRY_DOMAIN/$CI_REGISTRY_PROJECT/$CONTAINER_BUILD_IMAGE:latest
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'

sonarqube:
  stage: scan
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
    GIT_DEPTH: "0"
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  allow_failure: true
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'

trivy-scan:
  stage: scan
  image:
    name: aquasec/trivy:latest
    entrypoint: [""]
  script:
    - |
      trivy image \
        --username $CI_REGISTRY_USERNAME \
        --password $CI_REGISTRY_PASSWORD \
        --exit-code 1 \
        --severity HIGH,CRITICAL \
        --format table \
        --output trivy-report.txt \
        $CI_REGISTRY_DOMAIN/$CI_REGISTRY_PROJECT/$CONTAINER_BUILD_IMAGE:$CI_COMMIT_SHORT_SHA-$CI_PIPELINE_ID
  artifacts:
    when: always
    paths:
      - trivy-report.txt
    expire_in: 1 day
  allow_failure: false
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'

deploy:
  stage: deploy
  image:
    name: bitnami/kubectl
    entrypoint: [""]
  script:
    - cp "$KUBECONFIG_FILE" kubeconfig
    - export KUBECONFIG=$CI_PROJECT_DIR/kubeconfig
    - sed -i -e "s@REPLACED_WITH_DOCKER_IMAGE_NAME@$CI_REGISTRY_DOMAIN/$CI_REGISTRY_PROJECT/$CONTAINER_BUILD_IMAGE:$CI_COMMIT_SHORT_SHA-$CI_PIPELINE_ID@g" k8s/app.yml
    - kubectl apply -f k8s/cm.yml
    - kubectl apply -f k8s/app.yml
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
